.experience_main{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 0, 1);
}
.exp_main_one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}
.exp_one,.exp_two,.exp_three p{
    letter-spacing: 1px;
    color: rgba(14, 14, 14, 0.826);
}

#p{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(3, 4, 0);
}

.exp_one{
    flex: 1;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(15,50,150,0.5);
    border-radius: 10px;
    background-color: rgb(241, 210, 210);
    transition: transform 0.3s ease;
    &:hover{
        background-color: rgb(241, 210, 210);
        transition: background-color 0.3s ease;
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}
.exp_two{
    flex: 1;
    margin: 20px auto;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(15,50,150,0.5);
    border-radius: 10px;
    background-color: rgb(241, 210, 210);
    transition: transform 0.3s ease;
    &:hover{
        background-color: rgb(241, 210, 210);
        transition: background-color 0.3s ease;
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}
.exp_three{
    margin-left: 330px;
    padding: 25px;
    width: 50%;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px rgba(15,50,150,0.5);
    border-radius: 10px;
    background-color: rgb(241, 210, 210);
    transition: transform 0.3s ease;
    &:hover{
        background-color: rgb(247, 213, 213);
        transition: background-color 0.3s ease;
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}

@media(max-width:768px){
    .experience_main{
        flex-direction: column;
    }
    .exp_three{
        margin: auto;
        width: 90%;
    }
}