* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
    background-color: transparent;
}

@media (max-width:350){
    *{
        display: flex;
        flex-direction: column;
    }
    
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #747070cf;
    color: white;
}
.brand_name {
    flex: 1;
    font-size: 30px;
    font-weight: bold;
}

.brand_link {
    color: white;
    text-decoration: none;
}

.brand_link:hover {
    color: #ab05f8;
    text-shadow: 2px 2px #a5c49f;
}
.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.nav_link {
    text-decoration: none;
    color: white;
    flex:1;
    align-items: center;
    margin: 5px;
    gap: 5px;
}


.nav_link:hover {
    color: #163f18;
}

@media (max-width: 768px) {
    .nav_links {
        display: inline-block;
        flex-direction: column;
        font-size: 5px;
        gap: 10px;
    }

    .nav_toggle_btn {
        display: block;
    }

    .nav_toggle_btn .toggle_bars_btn {
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    .nav_toggle_btn .toggle_times_btn {
        font-size: 30px;
        color: white;
        cursor: pointer;
        display: none;
    }

    .nav_links.active {
        display: flex;
    }
}

.nav_links.active {
    display: flex;
}

.project-header {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.project {
    display: flex;
    margin: 2rem 0;
    box-shadow: 0 5px 10px 5px grey;
    padding: 2.5rem;
    border-radius: 10px;
    gap: 20px;
    transition: transform 0.5s ease;
}

.project:hover {
    transform: skewX(-0.6);
    transform: scale(1.05);
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}

.project-img-wrapper {
    flex: 1;
    border-radius: 10px;
}

.project-img-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-text-wrapper {
    flex: 1;
    border-radius: 10px;
    padding: 20px;
}

.project-text-wrapper h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}

.tech-stacks-used {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 10px;
}

.project_code {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.tech-stacks-used h5 {
    background-color: #ddd;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.desc {
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 32px;
}

.view-code {
    text-decoration: none;
    color: #fff;
    background-color: #2184ee;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.view-code:hover {
    background-color: #0056b3;
}

.see-website-button {
    text-decoration: none;
    color: #fff;
    background-color: #28a745;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
}

.see-website-button:hover {
    background-color: #218838;
}

@media(max-width: 767px) {
    .project {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .project-img-wrapper {
        flex: 0 0 100%;
    }

    .desc {
        font-size: 16px;
        line-height: 24px;
    }

    .tech-stacks-used {
        flex-direction: row;
        gap: 0.1rem;
        margin: 5px;
    }

    .tech-stacks-used h5 {
        font-size: 0.9rem;
    }

    .project-text-wrapper h3 {
        font-size: 1.3rem;
    }
}


.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hero-image {
    margin-right: 200px;
    padding: 30px;
}

.hero-image img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-text-header {
    font-size: 2rem;
    color: #b8b0b0e8;
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-text-header span {
    color: #0073e6;
}

.hero-text-header span {
    font-weight: normal;
}

.hero-text-container {
    margin-right: 170px;
}

.hero-text-container p {
    color: #e7ff38cf;
    line-height: 1.6;
    height: auto;
    letter-spacing: 1px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    &:hover{
        color: #79e39b;
        transform: scale(1.06);
        transition: transform 0.3s ease;
    }
}

.hero-contact-me-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.hero-contact-me-btn:hover {
    background-color: #005bb5;
}

@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
    }
    .hero-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .hero-text-container {
        margin-right: 0;
        padding-left: 5px;
        align-content: baseline;
    }
    .hero-contact-me-btn{
        margin-top: 20px;
        margin-left: 100px;
    }
    .brand_name{
        font-size: 10px;
    }
}

/* Tech Stack css */
.tech-stack-main {
    padding: 20px;
    text-align: center;
    width: 100% !important;
    height: auto !important;
    margin-top: 10px;
}

.project-header {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.tech-stack-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tech-stack {
    background: #7b7474;
    border-radius: 8px;
    padding: 16px;
    width: 220px;
    text-align: center;
    transition: transform 0.3s ease;
    &:hover{
        transform: scaleX(1.08);
        transition: transform 0.3s ease;
    }
}

.tech-stack:hover {
    transform: scale(1.05);
}

.tech-stack-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    background: none;
}

.tech-stack-header {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.tech-stack-description {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e4d7d7f3;
}




footer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f4f4f4;
}

.one {
    text-align: center;
    margin-bottom: 20px;
}

.one p {
    font-size: 30px;
    color: #485a26c3;
}

.two {
    text-align: center;
}

.two a {
    margin: 0 15px;
    font-size: 16px;
    color: #0073b1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.two a:hover {
    text-decoration: none;
    color: #b2df48;
    background-color: whitesmoke;
    transition: color 0.3s ease;
    padding: 5px;
    border-radius: 5px;
}